doctype html 
html 
    head 
        link(rel="stylesheet" href="overlay.css")
    body  
        div(id="stats")
            p Happiness
            div     
                img(src="images/filled-heart.png")
                img(src="images/empty-heart.png")
                img(src="images/empty-heart.png")
                img(src="images/empty-heart.png")
                img(src="images/empty-heart.png")
            p Hunger
            div     
                img(src="images/filled-heart.png")
                img(src="images/empty-heart.png")
                img(src="images/empty-heart.png")
                img(src="images/empty-heart.png")
                img(src="images/empty-heart.png")
            p Health
            div     
                img(src="images/filled-heart.png")
                img(src="images/empty-heart.png")
                img(src="images/empty-heart.png")
                img(src="images/empty-heart.png")
                img(src="images/empty-heart.png")
            p Social
            div     
                img(src="images/filled-heart.png")
                img(src="images/empty-heart.png")
                img(src="images/empty-heart.png")
                img(src="images/empty-heart.png")
                img(src="images/empty-heart.png")

        div(id="pet")
            img(id="pet-sprite")

        script(src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js")
        script(src="scripts/overlay.js")