@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: Lato, sans-serif;
}

#stats {
  opacity: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 3px solid white;
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  display: grid;
  grid-template-columns: 80px 80px;
  gap: 10px;
}

#stats p {
  padding: 0;
  margin: 0;
}

#stats img {
  margin-right: 3px;
}

#pet {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#pet-sprite {
  position: absolute;
  bottom: 0;
  left: 0;
}
